@charset "UTF-8";

    //반응형 width 정의 -----------------------
    $tabletW: 1025px;
    $mobileW: 599px;
    $foldW: 320px;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    text-align: center;
    background-color: #f6f6f8;
}

    //미디어쿼리
    @media screen and (max-width: 1025px) {

    }
    @media screen and (max-width: 599px) {
        
    }
    @media screen and (max-width: 320px) {
        
    }